body {text-align: center;}

h1 {
    color: lime;
}

img {
    width: 150px;
    height: 100px;
    position: relative;
    display: block;
    left: 0px;
}

img#finishLine {
    position: absolute;
    left: 80%;
    top: 37%;
    transform: scale(2,4);
    z-index: -1;
}

img#blueCar {
    transform: rotateY(180deg);
}

div#frame {
    position: relative;
    height: 400px;
    border: 3px solid black;
}

h3#money {
    text-align: right;
}

button {
    padding: 10px;
    border: none;
    font-weight: bold;
}

button#play {
    background-color: #4AFF62;
}

button#play:hover {
    background-color: #91FFA0;
}

button#stop {
    background-color: #FF2626;
}

button#stop:hover {
    background-color: #FF7B7B;
}

button#reset {
    background-color: #F8FF07;
}

button#reset:hover {
    background-color: #FCFF88;
}

button#chooseBet, button#chooseCar {
    background-color: #FF9A12;
}

button#chooseBet:hover, button#chooseCar:hover {
    background-color: #FBC276;
}